name: go-fortune
# trigger
on: 
  push:
    branches:
      - 'v[0-9]+.[0-9]+'

jobs: 
  #job name,
  go-fortune:
    #OS that this workflow will be runnning on ubuntu-latest
    runs-on: ubuntu-latest
    # permissions: 
    #   contents: write

    # list of steps to perform task
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{v5.5}}
        commit: ${{v5.5}}
        token: ${{secrets.GH_TOKEN}}

    - name: Setup Node
      uses: actions/setup-node@v3
      with: 
        node-version: 16
      
    - name: Railway
      run: npm i -g @railway/cli

    - name: Deploy
      run: railway up
      env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

    - name: Slack Notification
      id: slack
      uses: slackapi/slack-github-action@v1.23.0
      with:
        payload: |
          {
            "text": "slack notification 1 2 3",
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "DipSA55 CI/CD Assignment Submission "
                }
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Name:*\nTay Le Er Joey"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "*Metriculation:*\n A0126060W"
                  }
                ]
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Email:*\n<mailto:e1043516@u.nus.edu|e1043516@u.nus.edu>"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "*Repository:*\n <https://github.com/e1043516/go-fortune.git|git://github.com/e1043516/go-fortune.git>"
                  }
                ]
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Deployment:*\nhttps://myproject-production-93e3.up.railway.app"
                  }
                ]
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "\n<https://myproject-production-93e3.up.railway.app| Open Application>"
                  }
                ]
              }
            ]
          }
        

      env: 
        SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL}}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        